.container{
    background-color: #EDEDED;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.form-box{
    display: grid;
    place-items: center;
}

.titulo{
    background-color: #D5D5D5;
    width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

#titulo{
    margin: 1vh 1vh 0.5vh 1vh;
    font-size: 2vh;
    font-weight: bold;
}

.conteudo{
    background-color: #EDEDED;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    padding: 0 4vh 2vh 4vh;
}

/*AMBOS FORMS*/
.label{
    font-weight: bold;
    margin-top: 1vh;
}

.field-group{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    flex: 1;
}

.field-group label{
    font-weight: bold;
    margin-bottom: 0.5vh;
}

select{
    height: 30px;
    width: 300px;
    padding: 6px 40px 6px 12px;
    border: none;
    border-radius: 5px;
    outline: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23666' stroke-width='2'%3e%3cpolyline points='6,9 12,15 18,9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center;
    background-size: 16px;
}

.row-items{
    display: flex;
    gap: 20px;
}

#UDM{
    margin: 0.5vh 1vh 1vh 1vh;
    font-size: 1.5vh;
}

.label{
    font-weight: bold;
    margin-top: 1vh;
}

/* BOTOES */
.botoes{
    margin-top: 2vh;
}

.botoes{
    display: flex;
}

.btn{
    font-size: 1.6vh;
    width: 300px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#gerar{
    background-color: #D23737;
    color: #EDEDED;
}
